.loader {
  position: absolute;
  z-index: 1;
  font-size: x-large;
  color: #aaa;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1%;
  width: 10%;
  margin: auto;
  text-align: center;
}

.three img {
  position: absolute;
  z-index: 1;
  width: 2%;
  right: 3%;
  top: 1%;
}

.three canvas {
  z-index: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.three button {
  position: absolute;
  top: 6%;
  right: 1%;
  z-index: 1;
  color: #02add1;
  background-color: #fff;
  margin: 0;
  padding: 1;
  border: 0;
}
