.githubLink:link,
.githubLink:visited {
  text-decoration: none;
  font-size: 14px;
  color: #415166;
  display: block;
}

.githubLink img {
  height: 16px;
}

.githubLink span {
  margin: 0;
  padding: 0 3px;
}

.githubLink:hover {
  border-bottom: 2.5px solid #0769e0;
}
